h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.panduan-desc {
  text-align: center;
  margin: 10px auto 80px auto;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-color);
  max-width: 1200px;
  line-height: 1.6;
}

object.pdf-viewer {
  width: 70%;
  height: 500px;
}

@media (max-width: 768px) {
  object.pdf-viewer {
    width: 95%;
    height: 400px;
  }
}

